<!doctype html>
<html>

<head>
  <title>Live Data Visualization</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.min.js"></script>
  <script src="https://cdn.socket.io/4.5.1/socket.io.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <br>
    <h5>LDAQ visualization</h5>
    <br>
    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-dark" id="start-button">Start visualization</button>
        <button class="btn btn-dark" id="stop-button">Stop visualization</button>
        <button class="btn btn-success" id="start-button">Trigger</button>
        <button class="btn btn-danger" id="stop-button">Stop recording</button>
        <button class="btn btn-danger" id="close-button">Close</button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12">
        <div id="plot"></div>
      </div>
    </div>
  </div>


  <script>
    var x_data = [];
    var y_data = [];

    var layout = {
      title: 'Live Data Visualization',
      xaxis: { title: 'Time' },
      yaxis: { title: 'Data' },
    };

    var trace = {
      x: x_data,
      y: y_data,
      type: 'scatter',
      mode: 'lines',
    };

    var data = [trace];

    Plotly.newPlot('plot', data, layout);

    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('connect', function () {
      console.log(socket.id)
      console.log('Connected to server');
    });

    socket.on('disconnect', function () {
      console.log('Disconnected from server');
    });

    socket.on('data', function (message) {
      data = JSON.parse(message);
      console.log('data incomming...')
      console.log(data.y)
      x_data = data.x;
      y_data = data.y;
      var update = {
        x: [x_data],
        y: [y_data],
      };
      Plotly.update('plot', update);
    });

    document.getElementById('start-button').onclick = function () {
      console.log('Starting data generation');
      socket.emit('start');
    };

    document.getElementById('stop-button').onclick = function () {
      console.log('Stop data generation');
      socket.emit('stop');
    };

    document.getElementById('close-button').onclick = function () {
      socket.emit('close', function (response) {
        window.close();
      });
    };


  </script>
</body>

</html>