# Package requirements for users
numpy>=1.11.0
scipy>=1.2.0
matplotlib>=3.0.0
pyqtgraph
PyQt5>=5.15.6
beautifultable>=1.1.0
dill
keyboard
pyTrigger
PyDAQmx
pyserial
nidaqmx
openpyxl
pandas
#h5py
urllib3<2.0
